body {
    height: 100%;
    background-color: white; /*#45d1ff;*/
    font-family: sans-serif;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 400%;
}

.text-medium {
    font-size: 250%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    margin: 0 auto;
    color: container;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}