body {
    height: 100%;
    background-color: white; /*#45d1ff;*/
    font-family: sans-serif;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.text-medium {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.nospace {
    margin: 0 !important;
}

.img-medium {
    height: 200px;
}

.container{
    margin: 0 auto;
    color: container;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.actionbar {
    margin: auto;
    border: 2px solid gray;
    width: 1000px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}