body {
    font-family: sans-serif;
    background-color: #09f;
    background-image: linear-gradient(bottom, #09f, #45d1ff);
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    color: grey;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}